@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Created By @ViewData["CreatedBy"]</p>

<address>
    <strong>More information: rafaelsouza4520@gmail.com</strong>
</address>
